<title>ABOUT</title>
<div class="about">
    <h1>PO</h1>
    <p>Master Po Ping (known simply as Po, and originally named Lotus[1]) is the main protagonist of the Kung Fu Panda franchise. He is the adopted son of Mr. Ping and the biological son of Li Shan and Li's wife, as well as one of Master Shifu's students at the Jade Palace. He is also the foretold Dragon Warrior of legend, and a master of the Panda Style of kung fu.
    Originally born in a farming village to his birth parents, Po was separated from his family as a result of a massacre instigated by Lord Shen. He was eventually found by Mr. Ping, who adopted him, hoping for Po to inherit the family noodle shop some day. However, Po was drawn to kung fu, and his unwavering enthusiasm led him to be chosen as the Dragon Warrior, after which he began training under Master Shifu. Though clumsy and unaccepted at first, Po persevered and fulfilled the destiny of the Dragon Warrior by defeating Tai Lung and discerning the Dragon Scroll, proving himself as a hero to everyone, including himself.
    </p>
</div>
